* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
  }

  .line {
    border-bottom: 2px solid  #e7e7e8;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 30px;
    height: 2px;
  }
  
  header .nav-links a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px;
    transition: background-color 0.3s;
  }
  
  
  .search-container {
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
  }

  .search-container .categories {
    display: flex;
    align-items: center;
  }

  .search-container .cat_left {
    display: flex;
    flex-direction: row;
  }

  .search-container .categories a {
    color: black;
    text-decoration: none;
    padding: 10px;
  }

  .search-container input {
    padding: 8px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
  }

  .search-container img.search-icon {
    width: 150px;
    height: 60px;
    margin-right: 10px;
  }
  
  .search-container .textbox {
    border: 1px solid gray;
  }
  .cube-icon {
    width: 30px;
    height: 30px;
    background-color: #555;
    margin-left: 10px;
    border-radius: 3px;
  }
  
  .cube-icon:last-child {
    margin-left: 5px;
    background-color: #22b14c;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .main-left {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 20px;
  }
  
  .main-left .container {
    background-color: #f4f4f4;
    padding: 20px;
    height: 100px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .main-right {
    width: 70%;
  }
  
  .main-right .big-container {
    background-color: #f4f4f4;
    padding: 20px;
    height: 500px;
    border: 1px solid #ddd;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 20px;
  }

  
  #container2, #container4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #22b14c;
    font-size: 20px;
    font-weight: bold;
    color: white;
  }

  .slider-container {
    max-width: 800px;
    margin-top: 40px;
  }

  .book-row-container {
    display: flex;
    transition: transform 1s ease-in-out;
  }

  .book-row {
    display: flex;
    justify-content: space-around;
    min-width: 100%;
  }

  .book-row img {
    width: 150px;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;  
  }

  .book {
    width: auto;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    box-shadow: 10px 10px 10px gray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .bookLabel {
    background-color: rgba(179, 167, 167, 0.407);
    width: auto;
    height: 90px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
  }

  button {
    width: 50px;
    height: 50px;
    margin-top: 20px;
  }

  .forward {
    margin-left: 10px;
  }

  .buttons {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  
  @media (max-width: 768px) {
    header .nav-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    header .nav-links a {
      margin: 5px 0;
    }

    .search-container, .categories{
      flex-direction: column;
    }
  
    main {
      flex-direction: column;
    }
  
    .main-left, .main-right {
      width: 100%;
      margin-right: 0;
    }
  
    .main-left .container {
      margin-bottom: 10px;
    }
  
    .search-container {
      width: 100%;
      justify-content: flex-start;
    }

    .book-row img {
      width: 120px;
    }
  }
  
